<h3>Welcome to Sinatra!</h3>
<h2>***Please add a person***</h2>
<form action="/submit_person" method="POST">
	Name:<input type="text" name="current_person[name]" value="Enter Person Name" />
  Birthday:<input type="date" name="current_person[dob]" value="Enter birthday" />
	Gender:<input type="text" name="current_person[gender]" value="Enter Person Gender" />
	Zipcode:<input type="number" name="current_person[zipcode]" value="Enter Zipcode" />
	<input type="submit" value="Submit" />
</form>
<a href="/">*Click here to go back to homepage!</a>
