<h3>***List of all Events***</h3>
<ol>
  <% i = 0 %>
<% @list_events.each do |p| %>
	<li>
    ......
		<strong><%= p.name %></strong>
    Date:<%= p.date %>
	</li>
<% end %>
</ol>
<a href="/event/new">*Click here to go back and add a new event*</a>
